.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-button {
      display: none;
  }
  .p-menubar {
      position: inherit;
  }
  .p-menubar .p-menubar-root-list {
      display: flex;
      align-items: center;
      position: unset;
      padding: unset;
      background: inherit;
      border: unset;
      box-shadow: unset;
      width: unset;
  }
}
.p-menubar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 90px;
}
.p-menubar .p-menuitem {
  position: relative;
  /* width: 45px; */
  min-width: 45px;
  max-width: fit-content;
}
.p-menubar .p-menuitem .p-submenu-list{
  width: fit-content;
}