.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @media screen and (max-width: 960px) {
    .p-menubar .p-menubar-button {
      display: none;
    }
  
    .p-menubar {
      position: inherit;
    }
  
    .p-menubar .p-menubar-root-list {
      display: flex;
      align-items: center;
      position: unset;
      padding: unset;
      background: inherit;
      border: unset;
      box-shadow: unset;
      width: unset;
    }
  }
  
  .p-menubar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 90px;
  }
  
  .p-menubar .p-menuitem {
    position: relative;
    width: fit-content;
    min-width: fit-content;
    max-width: fit-content;
  }
  
  .p-menubar .p-menuitem .p-submenu-list {
    width: fit-content;
    padding-left: 0rem;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .login-container {
    max-width: 600px;
    background-color:#545557;
  }
  .child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .content-container{
    max-width: 1280px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .p-password{
    width:'100%';
  }

  .login-label{
    font-size: medium;
    font-weight:600;
    padding-bottom: 10px;
  }
  .login-description{
    padding-bottom: 30px;
  }
  .register-welcome-text{
    padding-bottom: 10px;
  }

.loader {
  position: 'absolute';
  height: '100px';
  width: '100px';
  top: '70%';
  left: '50%';
  margin-left: '-50px';
  margin-top: '-50px';
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  justify-content: 'center';
  text-align: 'center';
}
.custom-menubar {
  justify-content: space-between;
}

.custom-menubar .p-menubar-start {
  /* width: '920px'; */
  padding-left: 40%;
  position: relative;
  z-index: 1, 
}




  .card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.p-card{
  box-shadow: none;
}
.p-card .p-component col{
  width: 100px;
}


.p-inputtext.p-variant-filled{
  background: #f2f2f2;
}

.custom-radio {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.custom-radio:checked::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-panel-content{
  height: fit-content;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}